.heroContainer {
	@include gameFrame;
	background-color: $bgr;
	opacity: 0;

	.onHero {
		width: 100%;
		height: 200px;
		text-align: center;
		padding: 5px 0;
		border-bottom: 2px solid silver;
		white-space: nowrap;
		// background-color: 

	

		.slot {
			transform: scale(1.2);
			@include item-box-size;
			text-align: center;
			overflow: hidden;

			&:empty {
				background-image: url("../images/equipspryEmpty.png");
				&.weapon {
				}
				&.armor {
					background-position: -52px 0px;
				}
				&.pen {
					background-position: -104px 0px;
				}
			}

			&.weapon {
				margin: 10px auto;
			}

			&.armor, &.pen {
				display: inline-block;
				margin: 9px;
			}

		
			&>div {
				@include inventory-box;

			}

		}

			
	}

	.poem-slot {
		width: 100%;
		height: 100px;
		// visibility: hidden;
		div {
			cursor: pointer;
			margin: 12px auto;
			width: 140px;
			height: 30px;
			text-align: center;
			position: relative;
			// background-color: #FFF;

		
			.line {
				overflow: visible !important;
				// border-radius: 20px;
				display: inline-block;
				height: 20px;
				position: relative;
				bottom: 7px;

				p {
					text-align: center;
					font-size: 11px;
					position: relative;
					top: 4px;
					font-weight: bold;
			
					span {
						background-color: rgba(255,255,255,0.4);
						color: #111;
						border-radius: 5px;
						display: inline-block;
						width: 35px;
						margin: auto;
						padding-bottom: -5px;

					}
				}

				.orb {
					height: 30px;
					width: 30px;
					border-radius: 100%;
					background-color: red;
					display: inline-block;
					margin: 0;
					position: absolute;
					top: -5px;
					z-index: 10;
					&:first-child {
						left: -25px;	
					}

					&:last-child {
						right: -25px;
					}
				}


			}
			
		}
	}
}